<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta http-equiv="X-UA-Compatible" content="ie=edge">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
          <title>Página Personal</title>
          <link rel="stylesheet" href="/CSS/stilys.css">
          <link rel="stylesheet" href="/CSS/barra.css">
          <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css' />
          <link rel="stylesheet" type="text/css" href="inicio.css" />
        </head>
        <link rel="icon" type="image/jpg" href="/img/imagenComida.jpg"/>
        <body>
            <div class="container">
              
                <nav>
                    <div class="logo">
                        <span>Recip</span>-NL
                    </div>
                    <div class="nav">
                        <ul>
                            <li><a href="/redireccion/inicio.html">INICIO</a></li>
                            <li><a href="#">NOTIFICACIONES</a></li>
                            <li><a href="/redireccion/sugerencias.html">SUGERENCIAS</a></li>
                            <li><a href="/redireccion/card.html">TIENDA</a></li>
                            <li><a href="/redireccion/perfil.html">PERFIL</a></li>
                        </ul>
                    </div>
                    <div class="menu-toggle">
                        <div class="hamburger"></div>
                    </div>
                </nav>
            </div>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
            <script type="text/javascript" src="menu.js"></script>

          <section class="box">
            <img src="img/me.jpg" width="180" alt="" class="box-img">
            <h1>Recip-NL</h1>
            <h2></h2>
            <p></p>
            <!-- link de redes socilaes y su logo bootstrap -->
            <ul>
              <li><a href="https://www.google.com/search?q=facebook&rlz=1C1CHBD_esCO1004CO1004&oq=face&aqs=chrome.0.0i131i355i433i512j46i131i199i433i465i512j69i57j0i131i433i512l4j5.2591j0j7&sourceid=chrome&ie=UTF-8"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
              <li><a href="https://www.google.com/search?gs_ssp=eJzj4tLP1TfIyDMsS05XYDRgdGDwYi8pzywpSS0CAFnOB00&q=twitter&rlz=1C1CHBD_esCO1004CO1004&oq=twi&aqs=chrome.1.69i57j46i67i131i199i433i465j0i67i131i433j0i67j0i67i131i433j0i67j46i131i199i433i465i512j5.4751j0j7&sourceid=chrome&ie=UTF-8"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
              <li><a href="https://www.google.com/?hl=es"><i class="fa fa-google-plus-square" aria-hidden="true"></i></i></a></li>
              <li><a href="https://www.google.com/search?q=linkedin+login&rlz=1C1CHBD_esCO1004CO1004&oq=link&aqs=chrome.3.69i57j46i67i131i199i433i465l2j0i67i131i433l2j0i67j46i67i131i433j5.5894j0j4&sourceid=chrome&ie=UTF-8"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            </ul>
        
          </section>
        </body>
        </html>